*{
    margin: auto 0;
    box-sizing: border-box;
}
/* body{
    text-align: center;
} */
.rasm{
    text-align: center;
}
svg{
    margin-top: 5%;
    width: 20%;
    height: 20%;
    color: #17a2b8;
}
h1{
    text-align: center;
    font-size: 50px;
}
form{
    margin-left: 35%;
}
form input{
    width: 50%;
    padding: 13px;
    border-color: crimson;
}
.check .box{
    width: 1%;
}
.sign_up{
    width: 18%;
    margin-top: 20px;
    margin-left: 15%;
    text-align: center;
}
.sign_up input{
    border: none;
    border-radius: 10px;
    background-color: #17a2b8;
    color: white;
}
.footer{
    color:  #6c757d;
    margin-top: 1%;
    display: flex;
    margin-left: 48%;
}
.footer a{
    text-decoration: none;
    color:  #6c757d;
}
.footer p{
    margin-left: 10px;
}
